body{
    margin: 0;
}

.banner img{
    height: 100%;
    width: 100%;
    border-bottom: 5px solid #AF8B3B;
}
.banner{
    align-items: center;
}

.li-nav{
    display: inline-block;
    padding: 0 20px;
    margin: 10px 1rem;
}

.a-nav{
    text-decoration: none;
    color: #0773D6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
     font-size: 15px;;
}

.a-nav:hover{
    color: #AF8B3B;
    text-decoration: underline;

}

.p-nav{
    padding: 0 6em;
    width: 0;
}

#INICIO {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

#INICIO:hover{
    color: #0773D6;
    font-size: 35px;
}

.section{
    margin: auto;
    margin-top: 2rem ;
    background-color: #222;
    box-shadow: 0 0 10px #fff;
    padding: 2em;
    color: #fff;
}

h1{
    margin-top: 2rem ;
    color: #000 ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
section{
    margin: auto;
}
.firma{
    font-weight: bold;
}


/* countdown */
#contador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    color: white;
    background-color: #800080;
    /* Color de fondo morado */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    flex-wrap: wrap;
}

#contador div {
    margin: 5px 10px;
    text-align: center;
}

#contador div span {
    display: block;
    font-size: 1.2rem;
}

#contador .number {
    font-size: 3rem;
    font-weight: bold;
}

.separator {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 5px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    #contador {
        font-size: 1.5rem;
    }

    #contador .number {
        font-size: 2rem;
    }

    .separator {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    #contador {
        font-size: 1rem;
        flex-direction: column;
    }

    #contador .number {
        font-size: 1.5rem;
    }

    .separator {
        display: none;
    }

    #contador div {
        margin: 5px 0;
    }
}
